.topBar {
  background-color: rgb(32, 32, 32);
  color: white;
  padding-top: 15px;
  padding-bottom: 11px;
}

.bottomBar {
  background-color: rgb(32, 32, 32);
  color: white;
  padding-top: 15px;
  padding-bottom: 11px;
}

.dropDown {
  background-color: rgb(32, 32, 32);
  color: white;
}

.logo {
  font-size: 65px;
  padding-left: 13%;
  color: white;
}

.loginBtn {
  margin-left: 18px;
}

.userNameLogo {
  font-size: 22px;
  padding-right: 10px;
}

.courseStarting {
  margin-left: 9%;
  margin-top: 1%;
  font-size: x-large;
}

.courseCard {
  margin-left: 8%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
}

.courseStars {
  font-size: 28px;
}

.submitBtn {
  font-size: larger;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
}


a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}