.cardStyle {
  /* margin-left: 200px; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 30rem;
  color: blue;
  text-decoration: underline;
}

.cardHeading {
  margin-left: 5%;
  font-size: 40px;
  margin-top: 3%;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}