.topBar{
    background-color: rgb(32, 32, 32); 
    color: white;
    padding-top: 15px; 
    padding-bottom: 11px;
}

.bottomBar {
    background-color: rgb(32, 32, 32); 
    color: white;
    padding-top: 15px; 
    padding-bottom: 11px;
}
.logo{
    font-size: 65px; 
    padding-left: 13%;
}

.loginBtn{
    margin-left: 18px;
}

.userNameLogo{
    font-size: 22px; 
    padding-right: 10px;
}

.welcomeMessage{
    margin-left: 3%; 
    font-size: 50px;
}

.bulletPoints{
    margin-left: 15%; 
    font-size: x-large;
}

.bigSearchRow{
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2%;
}

.bigSearchBar{
    font-size: xx-large; 
    padding-left: 4%; 
    height: 75px;
}

.bigSearchBtn{
    width: 70px; 
    font-size: x-large; 
    padding-right: 2%; 
    height: 75px;
}

.bottomBubbles{
    background-color: #cceeee; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: xx-large; 
    margin-top: 5%;
}